*{
    font-family: 'VT323';
    background-color: #18122B;
    color: #635985;
}

.buttons{
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 200px;
    border: none;
}

img{
    width: 100%;
    height: 100%;
    border-radius: 200px;
    border: 10px solid #393053;
}

button{
    width: 240px;
    height: 240px;
    border: none;
    padding: 30px;
}

h1{
    text-align: center;
    font-size: 40px;
    padding-top: 30px;
    padding-bottom: 100px;
}

img:hover{
    border: 10px solid #635985;
    background-color: #443C68;
}

p{
    text-align: center;
    padding-top: 85px;
    font-size: 25px;
}
